.about-interview
	width 100%
	hegiht 100%
	.container
		padding 20px
		border 10px solid #ececec
		min-height 85vh
		font-family: avenir
		.seperate-line
			height 2px
			width 100%
			background #ececec
		.content
			width 100%