.friends
	.list-container
		.top-bar
			margin 20px 0px 20px 0px
			color grey
			font-size 36px
		.friend-list
			width 100%
			min-height 100px
			border: 1px solid #E2E2E2
			border-radius 16px
			-webkit-box-shadow 5px 5px 10px 0px rgba(0,0,0,0.3)
			-moz-box-shadow 5px 5px 10px 0px rgba(0,0,0,0.3)
			box-shadow 5px 5px 10px 0px rgba(0,0,0,0.3)
			.empty-list-content
				width 100%
				height inherit
				padding: 100px 0
				text-align center
			.list-item
				height 100px
				width 100%
				.main
					font-weight 400
					font-size 28px
					color grey
				.sub
					font-size 18px
					font-weight 300
					color #c2c2c2