.profile
	max-height 100%
	background white
	.title-container
		z-index 2
		margin-top -90px
		.photo
			background-color white
			width 180px
			height 180px
			border-radius 50%
			border 1px solid white
		.title
			color white
			font-size 40px
			margin-top -90px
	.form-block
		// min-width 500px
		width 45%
		height fit-content
		padding: 50px 50px 80px 50px
		margin 10px
		border: 1px solid #E2E2E2
		border-radius: 8px
		-webkit-box-shadow 5px 5px 10px 0px rgba(0,0,0,0.3)
		-moz-box-shadow 5px 5px 10px 0px rgba(0,0,0,0.3)
		box-shadow 5px 5px 10px 0px rgba(0,0,0,0.3)
		h4
			color grey
		.btn-row
			margin-top 20px