nav = 63px
.user-register
	min-height 100%
	padding-top  2*nav
	overflow-x auto
	background white
	h4
		color: #666666
	.form-block
		min-width 500px
		padding: 50px 50px 80px 50px
		border: 1px solid #E2E2E2
		border-radius: 8px
		-webkit-box-shadow 5px 5px 10px 0px rgba(0,0,0,0.5)
		-moz-box-shadow 5px 5px 10px 0px rgba(0,0,0,0.5)
		box-shadow 5px 5px 10px 0px rgba(0,0,0,0.5)
	.hint
		padding-top: 25px
		text-align: center
	.submitBtn
		margin-top: 25px
		float: right
		color: #666666
	// @media screen and (max-width: 1000px)
	// 	.submitBtn
	// 		width 100%