.q-toast-container
	font-family: 'Lato', sans-serif!important
	bottom: none!important
	left: calc(50% - 220px)!important
	right: none!important
	top: 0!important
	width: 440px!important
	transform: translateY(-100px)!important
	//margin: 0px auto!important
.q-toast-container.active
	transform: translateY(0%)!important
.q-toast
	min-width 500px
.q-btn
	border-radius: 6px !important
.img-container
	width 100%
	height 100px
	overflow-y hidden
	background-color lightblue
	// background: url("~src/statics/blockchain.jpg");
	z-index 1
.fade-enter-active
	transition: opacity 1s
.fade-leave-active
	transition: opacity .2s

.fade-enter
.fade-leave-to
	opacity: 0

