<template>
<div class="home">
    <transition name="fade">
        <div class="menu-container row justify-center items-center">
            <div class="items-container row justify-around" :style="containerSize">
                <div
                    v-for="(link, index) in links"
                    class="item row justify-center items-center"
                    :class="link.color"
                    :style="itemSize"
                    :key="link.text"
                    @click="select(index)">
                    <div class="col-12 column justify-center items-center">
                        <q-icon :name="link.icon" color="faded" size="128px"></q-icon>
                        <h5>{{link.text}}</h5>
                    </div>
                </div>
            </div>
            <div class="logout row items-center" @click="logout">
                <q-icon name="exit_to_app" color="faded" size="36px"></q-icon>
                <div>登出</div>
            </div>
        </div>
    </transition>


    <!-- <q-layout ref="layout">
        <q-scroll-area slot="left" style="width: 100%; height: 100%">
            <q-list-header>{{title}}</q-list-header>
            <q-side-link item to="/profile">
                <q-item-side icon="account circle" />
                <q-item-main label="個人資料" />
            </q-side-link>
            <q-side-link item to="/friends">
                <q-item-side icon="supervisor_account" />
                <q-item-main label="我的好友"/>
            </q-side-link>
            <q-side-link item to="/reflection">
                <q-item-side icon="bookmark_border" />
                <q-item-main label="閱讀心得"/>
            </q-side-link>
            <q-side-link item to="/about-interview">
                <q-item-side icon="insert_comment" />
                <q-item-main label="面試回饋"/>
            </q-side-link>
            <q-item link @click="logout">
                <q-item-side icon="exit_to_app" />
                <q-item-main label="登出"/>
            </q-item>
        </q-scroll-area>
        <router-view />
    </q-layout> -->
</div>
</template>

<script>
import {
    QLayout,
    QIcon,
    QItemSide,
    QItem,
    QItemMain,
    QSideLink,
    QListHeader,
    QScrollArea,
    QTransition
} from 'quasar'
import UserHandler from '@/utils/user'

export default {
  name: 'home',
  components: {
    QLayout,
    QIcon,
    QItem,
    QItemSide,
    QItemMain,
    QSideLink,
    QListHeader,
    QScrollArea,
    QTransition
  },
  data () {
    return {
        title: 'Hi IDHub',
        windowWidth: 0,
        windowHeight: 0,
        links: [{
            icon: 'account circle',
            text: '個人資料',
            link: 'profile',
            color: 'skyblue'
        },{
            icon: 'supervisor_account',
            text: '我的好友',
            link: 'friends',
            color: 'orange'
        },{
            icon: 'bookmark_border',
            text: '閱讀心得',
            link: 'reflection',
            color: 'orange'
        },{
            icon: 'insert_comment',
            text: '面試回饋',
            link: 'aboutInterview',
            color: 'skyblue'
        }]
    }
  },
  computed: {
      containerSize () {
          return {
              width: this.windowWidth/2 + 'px',
              height: this.windowHeight/4*3 + 'px'
          }
      },
      itemSize () {
          return {
              width: this.windowWidth/4 - 10 + 'px',
              height: this.windowHeight/8*3 - 10 + 'px'
          }
      }
  },
  methods: {
      getWindowWidth(event) {
        this.windowWidth = document.documentElement.clientWidth;
      },
      getWindowHeight(event) {
        this.windowHeight = document.documentElement.clientHeight;
      },
      select (index) {
          this.$store.dispatch('changeView', false)
          this.$router.push(this.links[index].link)
      },
      logout () {
          if(!confirm('確認登出？')) return
          UserHandler.removeUserData()
          this.$router.push('/login')
      }
  },
  mounted () {
      this.$nextTick(function() {
          window.addEventListener('resize', this.getWindowWidth);
          window.addEventListener('resize', this.getWindowHeight);
          
          //Init
          this.getWindowWidth()
          this.getWindowHeight()
    })
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.getWindowWidth);
    window.removeEventListener('resize', this.getWindowHeight);
  }
}
</script>

<style lang="stylus">
.home
    .menu-container
        width 100%
        height 100vh
        .items-container
            .item
                margin-top 10px
                background #f3f3f3
                border-radius 10px
                &:hover
                    -webkit-box-shadow 0px 0px 20px 0px rgba(0,0,0,0.3)
                    -moz-box-shadow 0px 0px 20px 0px rgba(0,0,0,0.3)
                    box-shadow 0px 0px 20px 0px rgba(0,0,0,0.3)
            .skyblue
                border-bottom 5px solid skyblue
            .orange
                border-bottom 5px solid orange
        .logout
            width fit-content
            height 60px
            position fixed
            bottom 0
            left 10px
            font-size 32px
            color #777
            z-index 100
            cursor pointer
</style>
