<template>
	<div class="user-login row justify-center items-stretch">
		<div>
			<form class="form-block" @submit.prevent="submit">
				<h4>Sign in to IDHub</h4>
				<br>
				<q-field :error="$v.input_json.account.$error" error-label="">
		            <q-input
		                class="input"
		                v-model="input_json.account"
		                float-label="Account"
		                color="secondary"
		                type="text"
		                @blur="$v.input_json.account.$touch()"
		            />
		        </q-field>
		        <q-field :error="$v.input_json.password.$error" error-label="">
		            <q-input
		                class="input"
		                v-model="input_json.password"
		                float-label="Password"
		                color="secondary"
		                type="password"
		                @blur="$v.input_json.password.$touch()"
		            />
		        </q-field>
			    <q-btn class="submitBtn" outline type="submit" no-caps>Continue</q-btn>
			</form>
			<div class="hint row justify-end items-center">
				<div ><router-link to="/register">Create your account</router-link></div>
			</div>
			
		</div>
	</div>
</template>

<script>
import { QBtn, QField, QInput } from 'quasar'
import { required, email, sameAs } from 'vuelidate/lib/validators'
export default {
	name: 'user-login',
	data () {
		return {
			submitted: false,
			input_json : {
				account: "",
				password: ""
			}
		}
	},
	validations:{
		input_json : {
			account: {
				required
			},
	        password :{
	        	required
	        }
		}
    },
	methods: {
		// submit form handler
		submit: function() {
			console.log('submit')
			this.submitted = true;
			if(this.$v.$error != true && this.$v.$invalid != true){
				this.$store.dispatch('UserLogin',{
					data : this.input_json,
					resolve: (res) => {
						console.log(res);
                        this.$router.push({path: '/'})
					},
					reject: err => {
						console.log(err)
					}
				});
			}
			// this.$router.push("/home")
		}
    },
	components:{
		QBtn,
		QField,
		QInput
	}
}
</script>

<style lang="stylus">
	@import '~src/statics/styles/templates/user-login.styl';
</style>