<template>
	<div class="user-register row justify-center items-stretch">
		<div>
			<form class="form-block" @submit.prevent="submit">
				<h4>Create your account</h4>
				<br>
		        <q-field :error="$v.input_json.account.$error" error-label="">
		            <q-input
		                class="input"
		                v-model="input_json.account"
		                float-label="Account"
		                color="primary"
		                type="text"
		                @blur="$v.input_json.account.$touch()"
		            />
		        </q-field>
				<q-field :error="$v.input_json.email.$error" error-label="">
		            <q-input
		                class="input"
		                v-model="input_json.email"
		                float-label="Email"
		                color="primary"
		                type="email"
		                @blur="$v.input_json.email.$touch()"
		            />
		        </q-field>
		        <q-field :error="$v.input_json.password.$error" error-label="">
		            <q-input
		                class="input"
		                v-model="input_json.password"
		                float-label="Password"
		                color="primary"
		                type="password"
		                @blur="$v.input_json.password.$touch()"
		            />
		        </q-field>
		        <q-field :error="$v.input_json.c_password.$error" error-label="">
		            <q-input
		                class="input"
		                v-model="input_json.c_password"
		                float-label="Confirm Password"
		                color="primary"
		                type="password"
		                @blur="$v.input_json.c_password.$touch()"
		            />
		        </q-field>
			    <q-btn class="submitBtn" outline type="submit" no-caps>Continue</q-btn>
			</form>
			<div class="hint row justify-end items-center">
				<div ><router-link to="/login">Login now !</router-link></div>
			</div>
			
		</div>
	</div>
</template>

<script>
import { QBtn, QField, QInput } from 'quasar'
import { required, email, sameAs } from 'vuelidate/lib/validators'
import toastHandler from '@/utils/toast'
export default {
	name: 'user-register',
	data () {
		return {
			input_json : {
                account: "",
                email: "",
                password: "",
                c_password: ""
			}
		}
	},
	validations:{
		input_json : {
			account: {
				required
            },
            email: {
                required,
	        	email
            },
	        password: {
	        	required
            },
            c_password: {
                required,
	        	sameAsPassword: sameAs('password')
            }
		}
    },
	methods: {
		// submit form handler
		submit: function() {
			console.log('submit')
			if(this.$v.$error != true && this.$v.$invalid != true){
				this.$store.dispatch('UserRegister',{
					data : this.input_json,
					resolve: (res) => {
                        console.log(res);
                        if(res.data.status === 200) {
                            toastHandler.toastMessage('Success !', 'Register success, let\'s sign in now.', 'positive')
                            this.$router.push({path: '/login'})
                        }
					},
					reject: err => {
                        console.log(err)
                        toastHandler.toastMessage('Failed !', 'Register failed, please try again.', 'negative')                        
					}
				});
			}
		}
    },
	components:{
		QBtn,
		QField,
		QInput
	}
}
</script>

<style lang="stylus">
	@import '~src/statics/styles/templates/user-register.styl';
</style>