<template>
	<div class="about-interview">
		<div class="img-container row justify-start items-center">
			<div class="backBtn" @click="$router.push('/')">
				<q-btn icon="keyboard_backspace" color="faded" no-caps outline>Back</q-btn>
			</div>
		</div>
		<div class="container">
			<h1>Feedback</h1>
			<div class="seperate-line"></div>
			<div class="content">
				<br>
				<p>- 面試流程順暢，東東&Erica都很親切但不失專業</p>
				<p>- 環境舒適乾淨，水蠻好喝的</p>
				<p>- 面試氣氛愉快，營造一種已經在合作中的感覺</p>
				<p>- 技術相關經驗面試問題，感覺制式了一些，稍微生活化的對談，對面試官而言也許能得到更多的資訊，而面試者也能更從容的回答。</p>
				<p>- That's all :)</p>
			</div>
		</div>
	</div>
</template>

<script>
import { QBtn, QField, QInput } from 'quasar'
export default {
	name: 'about-interview',
	data () {
		return {

		}
	},
	methods: {
    },
	components:{
		QBtn,
		QField,
		QInput
	}
}
</script>

<style lang="stylus">
	@import '~src/statics/styles/components/aboutInterview.styl';
</style>