<template>
	<div class="add-friend row justify-between items-center">
        <q-search class="col-9" v-model="mail" placeholder="Please input the email of your friend: " color="grey"></q-search>
        <q-btn color="primary" outline @click="search" no-caps>Search</q-btn>
        <div v-if="searchResult" class="result row" style="width: 100%;">
            <div class="container row col-12 justify-center items-center">
                <q-icon name="account circle" color="grey" size="80px"></q-icon>
            </div>
            <div class="col-12" style="text-align: center;">
                {{searchResult.name}}
            </div>
            <div class="container row col-12 justify-center items-center">
                <q-btn color="secondary" no-caps @click="addFriend">
                    Add to friend
                </q-btn>
            </div>
        </div>
	</div>
</template>

<script>
import { QBtn, QIcon, QSearch } from 'quasar'
import toastHandler from '@/utils/toast'
export default {
	name: 'friends',
	data () {
		return {
            mail: '',
            searchResult: ''
		}
	},
	methods: {
        search () {
            this.$store.dispatch('SearchFriend',{
                data : {email: this.mail},
                resolve: (res) => {
                    if(res.data.data) this.searchResult = res.data.data
                },
                reject: err => {
                    console.log(err)
                    toastHandler.toastMessage('Failed !', 'Please input the correct email.', 'negative')                        
                }
            });
        },
        addFriend () {
            if (this.isExist()) {
                toastHandler.toastMessage('Ooops !', 'Is already your friend.', 'warning')
                return
            }
            this.$store.dispatch('AddFriend',{
                data : {email: this.searchResult.email},
                resolve: (res) => {
                    this.$emit('addFriend', res.data.data)
                    this.searchResult = ''
                    this.mail = ''
                },
                reject: err => {
                    console.log(err)
                    toastHandler.toastMessage('Failed !', 'Please input the correct email.', 'negative')                        
                }
            });
        },
        isExist () {
            if (localStorage.getItem('friendList')) {
                let list = JSON.parse(localStorage.getItem('friendList'))
                console.log(this.searchResult.email)
                console.log(list)
                return list.reduce((prev, element) => {
                    return element.email === this.searchResult.email ? true : prev
                }, false)
            }
            return false
        }
	},
	components:{
		QBtn,
		QIcon,
		QSearch
	}
}
</script>

<style lang="stylus">
	@import '~src/statics/styles/components/addFriend.styl';
</style>