<template>
	<div class="friends row justify-center">
		<div class="img-container row justify-start items-center">
			<div class="backBtn" @click="$router.push('/')">
				<q-btn icon="keyboard_backspace" color="faded" no-caps outline>Back</q-btn>
			</div>
		</div>
		<div class="list-container col-6">
			<div class="top-bar row justify-between items-center">
				<div class="title">
					My Friend List
				</div>
				<q-btn color="grey" outline @click="showModal = !showModal" no-caps>Add Friends</q-btn>
			</div>
			<div class="friend-list">
				<div class="empty-list-content" v-if="friendList.length === 0">
					You have no friends.
				</div>
				<div class="list-item row justify-around items-center" v-for="(friend, index) in friendList" :key="friend.email">
					<q-icon name="account circle" size="60px" color="grey"></q-icon>
					<div class="content row col-6">
						<div class="main col-12">
							{{friend.name}}
						</div>
						<div class="sub col-12">
							Email : {{friend.email}}
						</div>
					</div>
					<div></div>
					<q-btn color="red" outline @click="removeFriend(index)" no-caps>Delete</q-btn>
				</div>
			</div>
		</div>
		<q-modal v-model="showModal" :content-css="{'border-radius': '10px'}">
			<add-friend @addFriend="add"></add-friend>
		</q-modal>
	</div>
</template>

<script>
import { QBtn, QIcon, QInput, QModal } from 'quasar'
import AddFriend from '@/components/addFriend'
export default {
	name: 'friends',
	data () {
		return {
			showModal: false,
			friendList: []
		}
	},
	methods: {
		setListToLocal () {
			localStorage.setItem('friendList', JSON.stringify(this.friendList))
		},
		removeFriend (index) {
			if(!confirm('Remove ' + this.friendList[index].name + ' ?')) return
			this.friendList.splice(index, 1)
			this.setListToLocal()
		},
		add (data) {
			this.showModal = !this.showModal
			this.friendList.push(JSON.parse(JSON.stringify(data)))
			this.setListToLocal()
		}
	},
	mounted () {
		if (localStorage.getItem('friendList')) {
			this.friendList = JSON.parse(localStorage.getItem('friendList'))
		}
	},
	components:{
		QBtn,
		QIcon,
		QInput,
		QModal,
		AddFriend
	}
}
</script>

<style lang="stylus">
	@import '~src/statics/styles/components/friends.styl';
</style>