<template>
	<div class="profile">
		<div class="img-container row justify-start items-center">
			<div class="backBtn" @click="$router.push('/')">
				<q-btn icon="keyboard_backspace" color="faded" no-caps outline>Back</q-btn>
			</div>
		</div>
		<div class="title-container row justify-start items-center">
			<div class="offset-1 col-5">
				<div class="photo row justify-center items-center">
					<q-icon name="account circle" size="200px" color="grey"/>
				</div>
			</div>
		</div>
		<div class="forms row justify-around">
			<div class="form-block">
				<h4>
					Basic information
				</h4>
				<div class="form-row row justify-around items-center">
					<q-input
						class="col-11"
						v-model="profile.name"
						color="grey"
						float-label="Name : "/>
				</div>
				<div class="form-row row justify-around items-center">
					<q-input
						class="col-11"
						v-model="profile.email"
						type="email"
						color="grey"
						float-label="Email : "/>
				</div>
				<div class="form-row row justify-around items-center">
					<q-input
						class="col-11"
						v-model="profile.phone"
						type="number"
						color="grey"
						float-label="Phone : "/>
				</div>
				<div class="form-row row justify-around items-center">
					<q-select
						class="col-11"
						v-model="profile.sex"
						color="grey"
						float-label="Sex : "
						:options="[{label: 'Male', value: 'M'}, {label: 'Female', value: 'F'},]"/>
				</div>
				<div class="form-row row justify-around items-center">
					<q-datetime
						class="col-11"
						v-model="profile.birth"
						color="grey"
						type="date"
						float-label="Birth : "/>
				</div>
				<div class="btn-row row justify-end items-center">
					<q-btn color="grey" outline @click="saveProfile" no-caps>Save</q-btn>
				</div>
			</div>
			<div class="form-block">
				<h4>
					Change my password
				</h4>
				<div class="form-row row justify-around items-center">
					<q-input
						class="col-11"
						v-model="password.origin"
						type="password"
						color="grey"
						float-label="Original Password : "/>
				</div>
				<div class="form-row row justify-around items-center">
					<q-input
						class="col-11"
						v-model="password.new"
						type="password"
						color="grey"
						float-label="New Password : "/>
				</div>
				<div class="form-row row justify-around items-center">
					<q-input
						class="col-11"
						v-model="password.confirm"
						type="password"
						color="grey"
						float-label="Confirm Password : "/>
				</div>
				<div class="btn-row row justify-end items-center">
					<q-btn color="grey" outline @click="updatePassword" no-caps>Update</q-btn>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { QIcon, QInput, QSelect, QDatetime, QBtn } from 'quasar'
import toastHandler from '@/utils/toast'
import UserHandler from '@/utils/user'

export default {
	name: 'profile',
	data () {
		return {
			profile: {
				name: '',
				email: '',
				phone: '',
				sex: '',
				birth: ''
			},
			password:{
				origin: '',
				new: '',
				confirm: ''
			}
		}
	},
	methods: {
		saveProfile () {
			let userData = UserHandler.getUserData()
			userData.profile = this.profile
			UserHandler.setUserData(userData)
            toastHandler.toastMessage('Success !', 'Save success', 'positive')
		},
		updatePassword () {
			if(this.password.new !== this.password.confirm || this.password.new === '') {
				toastHandler.toastMessage('Failed !', 'Please confirm your password.', 'negative')
				return
			}
			toastHandler.toastMessage('Success !', 'Password has successfully been updated.', 'positive')
		}
	},
	mounted () {
		if(UserHandler.getUserData('profile')) {
			this.profile = UserHandler.getUserData('profile')
		}
	},
	components:{
		QIcon,
		QInput,
		QSelect,
		QDatetime,
		QBtn
	}
}
</script>

<style lang="stylus">
	@import '~src/statics/styles/components/profile.styl';
</style>