<template>
	<div class="reflection row justify-center">
		<div class="img-container row justify-start items-center">
			<div class="backBtn" @click="$router.push('/')">
				<q-btn icon="keyboard_backspace" color="faded" no-caps outline>Back</q-btn>
			</div>
		</div>
		<div class="col-8">
			<h2>Decentralized Identifiers (DIDs) Note</h2>
			<div class="seperate-line"></div>
			<p>DIDs不需要中央註冊機構來管理身份權限，
				自己擁有並管理自己的身份，
				也同時控制認證方能取得資訊的權限，
				且每個人可能同時有大量的DIDs，
				來區分不同的身份角色和內容。
				產生一份DID document後，
				在區塊鏈中註冊，
				任何人都能夠看到你所註冊的身份。
				透過這樣的身份認證方式，
				能夠取代傳統像是身分證護照等等的認證模式，
				而且更安全可靠。
			</p>
			<p>
				預想中DIDs的呈現和使用方式，
				使用者在進入網站後輸入最少的資訊，
				按下按鈕即可產生所需的DIDs document，
				註冊於對應的區塊鏈，
				並在系統中掌握管理自己的個人資訊，
				增加使用者對於個人隱私的安全感。
			</p>
			<br/>
			<br/>
			<h2>Private Key Storage</h2>
			<div class="seperate-line"></div>
			<p>
				擁有對於個人身份個管理權限的同時，
				私鑰的儲存相對變得更重要，
				我認為能將私鑰放在Cryptocurrency wallet中的冷錢包管理，
			</p>
			<p>
				根據wiki的解釋：
			</p>
			<div class="wiki">
				- Deep cold storage<br />
				<p class="caption">Deep cold storage is the process of storing cryptocurrencies in cold wallets that were never connected to the Internet or any kind of network. Additionally the private keys associated with this system are generated offline.</p>
			</div>
			<br />
			<p>
				這樣的私鑰儲存方式安全性高，
				除非硬體本身被破解，
				否則沒有透過線上洩漏私鑰的風險，
				但一旦硬體裝置遺失，
				一樣有私鑰遺失的風險，
			</p>
		</div>
	</div>
</template>

<script>
import { QBtn, QField, QInput } from 'quasar'
export default {
	name: 'reflection',
	data () {
		return {

		}
	},
	methods: {
    },
	components:{
		QBtn,
		QField,
		QInput
	}
}
</script>

<style lang="stylus">
	@import '~src/statics/styles/components/reflection.styl';
</style>