<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
    <transition name="fade">
      <router-view />      
    </transition>
  </div>
</template>

<script>
/*
 * Root component
 */
export default {}
</script>

<style></style>
